# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.env
.venv/
env/
venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Migrations (ixtiyoriy, agar version control qilmasang)
# */migrations/*.py
# !*/migrations/__init__.py

# IDE / Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
