# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.env
.venv/
env/
venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.gitignore

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
